<section class="profile-hero text-white pt-5 pb-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8 px-4">
                <div class="text-center">
                    <img src="/images/murat_profile.jpg" class="profile-img mb-3" alt="Profilbild av Murat" />
                </div>

                <div class="text-start">
                    <h1 class="display-5 fw-bold mb-2">
                        Hej, jag är <span class="text-success">Murat</span>
                    </h1>
                    <span class="badge custom-badge">Systemutvecklare inom .NET och Microsoft Azure (Studerande)</span>
                </div>
            </div>
        </div>
    </div>
</section>
